<a href="https://colab.research.google.com/github/m0fauzi/BEP2073_S22/blob/main/Lec_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Calculate area of a circle for r = 2.5 in.
# Duration 2 mins

pi = 22/7
r = 2.5
Area = pi*r*r
print(Area)

19.642857142857142

In [ ]:
pi = 22/7
r = 2.5
Area = pi*r*r
print('Area is',Area,'in2')

Area is 19.642857142857142 in2

In [ ]:
pi = 22/7
r = float(input('Radius (in) = '))
Area = pi*r**2
print('Area is %.3f in2'%Area)

Radius (in) = 2.365
Area is 17.579 in2

In [ ]:
for i in range(5):
  print('Menu to select:')
  print('c - to calculate Area')
  print('x - to exit')
  sel = input('Selection: ')
  if sel == 'c':
    pi = 22/7
    r = float(input('Radius (in) = '))
    Area = pi*r**2
    print('Area is %.3f in2'%Area)
  elif sel == 'x':
    print('Thank you..')
    break

Menu to select:
c - to calculate Area
x - to exit
Selection: c
Radius (in) = 2.5
Area is 19.643 in2
Menu to select:
c - to calculate Area
x - to exit
Selection: c
Radius (in) = 6.5
Area is 132.786 in2
Menu to select:
c - to calculate Area
x - to exit
Selection: x

In [ ]:
import numpy as np

r = float(input('Radius (in) = '))
Area = np.pi*r**2
print('Area is %.3f in2'%Area)

Radius (in) = 2.5
Area is 19.635 in2

In [ ]:
from numpy import pi

r = float(input('Radius (in) = '))
Area = pi*r**2
print('Area is %.3f in2'%Area)

Radius (in) = 2.5
Area is 19.635 in2

In [ ]:
# ùë¶ = 7 sin‚Å°(ùë•) ‚àí 3 cos‚Å°(2ùë•)

import math
x = 1.5
y = 7*math.sin(x) - 3*math.cos(2*x)
print('Ans = %0.3f'%y)

Ans = 9.952

In [ ]:
import numpy
x = [1.5, 1.7, 2.5, 9]
y = 7*numpy.sin(x) - 3*numpy.cos(x)
print(y)

[6.7702533  7.32818716 6.59273586 5.61822018]

In [ ]:
# Function
def Area():
  r = float(input('Radius (in) = '))
  Area = pi*r**2
  print('Area is %.3f in2'%Area)

In [ ]:
Area()

Radius (in) = 1.2
Area is 4.524 in2

In [ ]:
# Function
def Area(r):
  Area = pi*r**2
  print('Area is %.3f in2'%Area)

In [ ]:
Area(1.2)

Area is 4.524 in2

In [ ]:
# Function
def Area(r):
  Area = pi*r**2
  return Area

In [ ]:
A = Area(3)
B = Area(2.5)
C = Area(3.6)
print('A =',A)
print('B =',B)
print('C =',C)

A = 28.274333882308138
B = 19.634954084936208
C = 40.71504079052372

In [ ]:
# Function
def Area(r=2.5):
  Area = pi*r**2
  return Area

In [ ]:
Area()

19.634954084936208

In [ ]:
Area(3.5)

38.48451000647496

In [ ]:
def fun(x,y):
  return 2*x + y

In [ ]:
fun(2,3)

7

In [ ]:
fun(3,2)

8

In [ ]:
fun(y=3,x=2)

7

In [ ]:
def fun(x,y):
  ''' This is example of function 2*x + y'''
  return 2*x + y

In [ ]:
fun(2,3)

7

In [ ]:
fun?

In [ ]:
# Find Factorial of 5
Ans = 5*4*3*2*1
print(Ans)

120

In [ ]:
# Q. Find Factorial of number for user specific input (Integer).
# Duration: 5 mins (5:20PM)
# hint:
# 1. input() then convert to integer
# 2. for loop
N = int(input('Type integer to calculate factorial: '))
ans = 1
for i in range(1,N+1):
  ans = ans*i

print('Answer is',ans)

Type integer to calculate factorial: 8
Answer is 40320

In [ ]:
def factorial(N):
  ans = 1
  for i in range(1,N+1):
    ans = ans*i
  return ans

In [ ]:
factorial(5)

120

In [ ]:
#find cos(5) by using taylor serries expansion at 3rd degree
x = 1.5
ans = 1 - x**2/factorial(2) + x**4/factorial(4)
print(ans)

0.0859375

In [ ]:
import numpy as np
np.cos(x)

0.0707372016677029

In [ ]:
def g(x):
  a = 20
  return a*x #60
def h(x):
  b = 20
  a = 30
  return a*x + b #(120 + 20) 140

In [ ]:
ans = g(3) + h(4)
print(ans)

200

In [ ]:
global a
a = 50
def g(x):
  return a*x
def h(x):
  return a*x**2

In [ ]:
ans = g(3) + h(4)
print(ans)

380

In [ ]:
ans = g(2) + h(3)
print(ans)

550

In [ ]:
import mymodule as mm

mm.factorial(5)

120

In [ ]:
from mymodule import a

ans = a + 3
print(ans)

5.5